.gradle
.idea
/Nice String/Task/task-info.yaml
/Taxi Park/Task/assignmentKey
/Taxi Park/Task/partId
/Taxi Park/Task/task-info.yaml
/Nice String/Task/assignmentKey
/Nice String/Task/partId
/Nice String/Task/build/
